<div class="container">
  <%= simple_form_for @card do |f| %>
    <% if @card.errors.any? %>
      <div id="error_explanation">
        <ul>
        <% @card.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
    <div class="col-md-4">
     <p> Выберите ссылку или локальный файл</p>
      <%= f.text_field :remote_image_url %>

      <%= f.file_field :image %>
    </div>
    <div class="col-md-4">
      <%= f.input :original_text, wrapper_html: { class: 'col-sm-4' }  %>

      <%= f.input :translated_text, wrapper_html: { class: 'col-sm-4' }  %>
    </div>
    <div class="col-md-4">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>
