<div class="container">
  <p style="font-size: 22px;">
    список карт
  </p>
  <div class="row">
    <div class="table-responsive">
      <table class="table-striped">
        <tbody>
          <% puts @cards %>
          <% @cards.each do |card| %>
            <tr>
              <td>
                <p class="text-center">
                  <%= link_to card.original_text.to_s, card_path(card) %>
                </p>
              </td>
              <td>
                <p class="text-center">
                  <%= link_to card.translated_text.to_s, card_path(card) %>
                </p>
              </td>
              <td>
                <p class="text-center">
                  <%= card.review_date.strftime("%d/%m/%Y")  %>
                </p>
              </td>
              <td>
                <p class="text-center">
                  <%= link_to "Edit", edit_card_path(card)  %>
                </p>
              </td>
              <td>
                <p class="text-center">
                  <%= link_to "Del", card_path(card), method: :delete  %>
                </p>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
