<div class="container">
  <p style="font-size: 22px;">
    список карт
  </p>
  <div class="row">
    <div class="table-responsive">
          <% @cards.each do |card| %>
            <div class="flex-container Grid-cell">
              <div class="flex-item-originaltext">
                  <%= link_to card.original_text.to_s, card_path(card) %>
              </div>
              <div class="flex-item-translatedtext">
                <%= link_to card.translated_text.to_s, card_path(card) %>
              </div>
              <div class="flex-item-other">
                <%= card.review_date.strftime("%d/%m/%Y")  %>
              </div>

              <div class="flex-item-other">
                <%  if card.image.file.nil?  %>
                  <p> Нет картинки</p>
                <% else %>
                  <%= image_tag(card.image.small.url) if card.image? %>
                <% end %>
              </div>
              <div class="flex-item-other">
                <%= link_to "Edit", edit_card_path(card)  %>
              </div>
              <div class="flex-item-other">
                <%= link_to "Del", card_path(card), method: :delete  %>
              </div>
            </div>
          <% end %>
    </div>
  </div>
</div>
