<!DOCTYPE html>
<html>
  <head>
  <title>Флэшкарточкер</title>
  <link rel="stylesheet" href="application.scss">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container"
	  <div class="navbar navbar-default clearfix">
	    <div class="navbar-header">
		  <h3><%= link_to "Флэшкарточкер", root_path %></h3>
		</div>
		<div class="nav navbar-nav navbar-right navigation-links">
		  <ul class="nav navbar-nav">
	        <li><%= link_to "Все карточки", cards_path %></li>
	        <li><%= link_to "Добавить карточку", new_card_path %></li>
          <li>
            <% if user_signed_in? %>
            <%=  link_to "Выйти", destroy_user_session_path, :method => :delete %>
            <% else %>
            <%=  link_to "Войти", user_session_path %>
            <% end %>

          </li>
          </ul>
		</div>
	  </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    </div>
    <%= yield %>
  </body>
</html>
